<div class="head-container">
    <div class="row">
        <div class="col">
            <a href="" class="school-logo-link">
                <div class="logo-cont">
                    <img src='assets/images/{{logo}}' class="school-logo">
                </div> 
                <div class="txt-cont">
                    <h3>PT School Management</h3>
                </div> 
            </a>
        </div>
        <div class="col">
            <div class="srctxt-cont">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter the Search text here">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <a href="" class="src-icon-link">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </span>                    
                    </div>
                </div>
            </div>
            
           <!--
            <div class="srctxt-cont">                
                <input  type="text" placeholder="Enter Serach content here" class="src-txt">
            </div>
            <div class="srcimg-cont">
                <a href="" class="src-icon-link">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </div>
            -->
        </div>
        <div class="col">
            <div class="menu-container">
                <div class="row">
                    <div class="col-xl-4">
                        <a href="" class="menu-txt" ><i class="fa fa-home" aria-hidden="true"> Home</i></a>
                    </div>
                    <div class="col-xl-4">
                        <a href="" class="menu-txt"><i class="fa fa-hand-o-right" aria-hidden="true"> About</i></a>
                    </div>
                    <div class="col-xl-4">
                        <a href="signin" class="menu-txt" >
                            <i class="fa fa-user" aria-hidden="true"> Signin</i>
                        </a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>