<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card">            
            <div class="card-header cardhed-custom">
                <h5>
                    PT School Welcomes You.!
                </h5>
            </div>
            <div class="card-body">
                <div class="p-3">
                    <div class="input-group">
                        <div class="col-xl-5">
                            <label>User Name</label>
                        </div>
                        <div class="col-xl-12">
                            <input type="text" class="form-control" id="usrname" placeholder="Enter the Username">
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-xl-5">
                            <label>Password</label>
                        </div>  
                        <div class="col-xl-12">
                            <input type="password" class="form-control" id="pwd" placeholder="Enter the Password">
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <a href="forgot">Forgot Password</a>
                    </div>                        
                </div>
                <div class="row">
                    <div class="col">
                        <input type="button" class="btn-dark btn-custom"  value="Login" (click)="fnlogin()">
                    </div>
                    <div class="col">
                        <input type="button" class="btn-dark btn-custom"  value="Register" (click)="fnreg()">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p style="text-align: center;font-size: 12px;">
                    Please read all the<span><a href="">Terms & Conditions</a></span>before
                    <br>registering into the website.
                </p>
            </div>
        </div>
    </div>
</div>